body, html {
    background-color: #f6f6f6;
}
#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #8d8d8d;
}
#toprow {
    height: 290px;
}
#bigbox {
    width: 290px;
    height: 290px;
}
#divider1 {
    height: 290px;
    width: 10px;
}
#topleftcolumn {
    height: 290px;
    width: 100px;
}
.mediumbox {
    height: 140px;
    width: 100px;
}
#divider2 {
    height: 10px;
    width: 100px;
}
#divider3 {
    height: 10px;
    width: 400px;
}
#square {
    height: 100px;
    width: 100px;
}
.divider4 {
    height: 100px;
    width: 10px;
}
#bottomrightcolumn {
    height: 100px;
    width: 20px;
}
#longrect {
    height: 100px;
    width: 260px;
}
.tallrect {
    height: 45px;
    width: 20px;
}
#divider5 {
    height: 10px;
    width: 20px;
}

/* Color Classes */
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}

/* Float Classes */
.right {
    float: right;
}
.left {
    float: left;
}